@media only screen and (min-width: 600px) {
* {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

body {
  background-color: #eef3f9;
  margin-bottom: 0;
  overflow-x: hidden;
}

path, rect, polygon {
  fill: #eef3f9;
}

#logo4 {
  fill: #001b2e;
}
/*responsive*/

  .header {
  background-color: #001b2e;
  min-width: 100%;
  min-height: 5vh;
  color: #f1faee;
  display: flex;
  justify-content: center;
  align-items: center
}

.container {
	/* position: relative;
	left: 50;
	transform: translate(10%); */
  display: flex;
  align-items: center;
  /* background-color: red; */
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#Layer_1 {
  width: 20vw;
}


#Layer_2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  /*opacity: 0.5;*/
}

#Layer_3 {
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 2%;
  width: 40%;
}

#Layer_4 {
  width: 15%;
  padding-bottom: 4%;
}

#Layer_5 {
  width: 50%;
}

#Layer_6 {
  width: 50%;
}

#Layer_7 {
  width: 30%;
}

#Layer_8 {
  width: 30%;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  //padding-top: 1.5%;
  
  //background-image: url("https://live.staticflickr.com/65535/52792517232_68f7b035be_b.jpg");

  /* Set a specific height */
  /*min-height: 100px; */

  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98% 98%;
}

video {
  width: 49%;
  /*height: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-name: fadeOut;
  //animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  98.99% {
    opacity: 0;
  }
  99.99 {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.parallax1 {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/3747142/pexels-photo-3747142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.parallax2 {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  margin-top: 5%;
}

p {
  text-transform: uppercase;
  color: #001b2e;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
}

.gd {
  width: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: #ff00f1; */
}

.container2 {
  /*//display: flex;*/
  /*//align-items: center;*/
  /*//align-content: center;*/
  /*//background-color: red;*/
  /*//justify-content: center;*/
  text-align: center;
}

.textbox2 {
  margin-top: 5%;
  width: 40%;
  height: auto;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#contact {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  width: 150px;
  height: 50px;
  background-color: #b3cde4;
  text-transform: uppercase;
  color: #001b2e;
  font-weight: 900;
  font-size: 20px;
  border: none;
  transition: 0.2s;
}

#contact:hover {
  background-color: #001b2e;
  color: #eef3f9;
}

ul {
  margin-top: 5%;
  text-align: left;
  text-transform: uppercase;
  color: #001b2e;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.6;
}

.textbox {
  margin-top: 3%;
  width: 35%;
  height: auto;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*image project*/
/* @supports (display: grid) {
	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); //original 18rem
		grid-gap: 2rem;
	}
	
	.projects .proj1 {
	  margin: 10%;
	}
} */

.projects {
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 2%;
  margin: 2%;
}

.proj1 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  //margin-top: 5%;
  position: relative;
  //left: 50%;
  //transform: translate(-50%);
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.sec-des {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

#img1 {
  width: 70%;
  //margin-top: -10px;
}

.cover-image {
  //background-color: red;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.projects p {
  text-transform: none;
  color: #537692;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
  transition: 0.1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#description-proj {
  margin-top: 5%;
  text-transform: none;
  color: #001b2e;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
}

.description-box {
  width: 300px;
  //height: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);  
  padding-bottom: 5%;
}

 .line {
  background-color: #537692;
  width: 100%;
  height: 1px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.projects p:hover {
  color: #b3cde4;
}

/*parallax3*/

#parallax3 {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/3632645/pexels-photo-3632645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  //margin-top: 5%;
}

.contact-box {
  background-image: url("https://images.pexels.com/photos/2907301/pexels-photo-2907301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  overflow: hidden;
  display: flex;
}
.contact-description,.contact-description p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 20px;
  color: #eef3f9;
  text-align: center;
  font-weight: 1000px;
  margin-bottom: 100px;
}

.contact-form {
  /*margin-top: 10%;*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*opacity: 0.6;*/
}

#contact-form {
  position: relative;
  top: 50%;
  //left: 50%;
  transform: translate(0,-50%);
}

.container-form label {
  color: #eef3f9;
  position: relative;
  text-align: center;
}

      form {
        width: 300px;
        margin: 0 auto;
      }

      label {
        display: block;
        font-weight: bold;
        margin-top: 20px;
      }

      input,
      textarea {
        width: 100%;
        /*padding: 10px;*/
        border: 1px solid #537692;
        border-radius: 4px;
        resize: none;
        background-color: rgba(0,0,0,0);
        color: #eef3f9;
      }
      
      input {
        height: 50px;
      }
      
      textarea {
        height: 100px;
      }

      .submit {
        background-color: rgba(68,124,226,0.537);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      .submit:hover {
        background-color: #45a049;
      }

      .container-form {
        border-radius: 5px;
        background-color: rgba(0,0,0,0);
        padding: 20px;
		overflow: hidden;
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%,50%);*/
      }
      
      .footer {
        background-color: #001b2e;
        width: 100%;
        /*height: 100vh;*/
        margin-bottom: 0;
        //padding-top: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
      }
	  
	  .footer-box {
		  gap: 100px;
		  padding: 2%;
		  display: flex;
	  }
      
      #ft {
        color: #eef3f9;
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%,-50%);*/
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 13px;
      }
      
            * {
        
      }
      
      .fa {
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      padding: 13px;
     background: #000;
     color: white;
     margin: 5px 2px;
     border-radius: 100%;
     transition: .5s;
      }
      
      .fa-instagram:hover {
        font-size: 20px;
        background: #125688;
      }
      
      .fa-youtube:hover {
        font-size: 20px;
        background: #bb0000;
      }
      
      .fa-linkedin:hover {
        font-size: 20px;
        background: #007bb5;
      }
      
      .socmed {
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%,-50%);*/
        display: flex;
        justify-content: center;
        align-items: center;
		gap: 5px;
		overflow: hidden;
		width: 200px;
      }
      
  #up {
		padding-bottom: 5%;
		width: 20px;
		position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
  }
/*desktop view*/
}
